

/*创作者：董淑媛 修改者:陆祎洲,董淑媛 功能：实现主页面图片轮播*/
ul,ol{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	width: 20%;
}
a>img{
	width: 100%;
	height: 100%;
	border: none;
	vertical-align: middle;
}
.pptbox{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#box{
	width: 1024px;
	height: 600px;
	margin: 4px;
	position: absolute;
	overflow: hidden;
	box-shadow: 2px 2px 10px 2px black;
}
#box ul{
	position: absolute;
	left: 0;
	top:0;
	height: 100%;
}
#box ul li{
	float: left;
	width: 1200px;
	height: 100%;
}
#box ul li a{
	display: block;
	height: 100%;
}
#box ul li a img{
	width: 100%;
	height: 100%;
}
#prev,#next{
	position: absolute;
	top: 45%;
	width:3%;
	height: 8%;
	border-radius: 2px;
	line-height: 150%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 2px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	cursor: pointer;
}
#prev{
	left: 0;
}
#next{
	right: 0;
}